.question {
    width: 450px;
}

.buttonQuestion {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonQuestionSubmit {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.choice {
    display: flex;
    flex-direction: row;
}

.hint {
    margin: 10px;
    margin-left: 0px;
    border: 3px solid gray;
    box-sizing: border-box;
    padding: 5px;
}