<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Questions</title>
    </head>
    <body>
        <form method="POST" action="">
            <tr>
                <td>{{question[0] | safe}}</td>
            </tr>
            <br />
            {{hint}}
            <br />
            <button name="submit_button" type="submit" value="hint">
                Hint
            </button>
            <button name="submit_button" type="submit" value="back">
                Back
            </button>
        </form>
    </body>
</html>
